.App {

}
body{
  background-color: #292834;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link-box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (min-width: 480px){
  .link-box{
    flex-direction: row;
    align-items: center;
  }
}

.active-link {
  font-weight: bold;
  color: white;
}
.inactive-link{
  color: lightgray;
}

.cb-logo{
  position: absolute;
}
.logo-l{
  animation: App-logo-spin 80s infinite linear;
}
.logo-s{
  animation: App-logo-spin 60s infinite linear;
  /* animation-direction: reverse; */
}

.main-content{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 75%;
  margin: auto;
}

.bg{
  position: absolute;
  background-image: url('./crumple.png');
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 20px 20px;
  padding: 0px 0px 20px 0px;
}



@media (min-width:1000px){
  .header{
    margin: 0px 100px 20px 100px;
    padding: 0px 0px 20px 0px;
  }
  .main-content{  
    width: 55%;
  }
}