.App {

}
body{
  background-color: #292834;
  color: rgb(252, 238, 193);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 248, 229);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}








/* HEADER  */

.header{
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #292834;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
  z-index: 99;
}
.link-box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.active-link {
  font-weight: bold;
  color: rgb(252, 238, 193);
}
.inactive-link{
  color: rgb(162, 146, 108);
}
.cb-logo{
  position: absolute;
  margin-left: 3%;
}
.logo-l{
  animation: App-logo-spin 80s infinite linear;
}
.logo-s{
  animation: App-logo-spin 60s infinite linear;
}



/* GENERIC MAIN CONTENT  */

.main-content{
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 75%;
  margin: auto;
}
.bg{
  position: absolute;
  margin-top: 100px;
  background-image: url('./crumple.png');
  background-size: cover;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}
.hidden{
  display: none;
}



/* INTRODUCTION */

.intro-images{
  display: flex;
  width: 100%;
  animation: move 60s infinite linear;
}
@keyframes move {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(-1860px);
  }
}



/* ABOUT ME */

.about-me{
  display: flex;
}
.mobilePic{
  display: none;
}



/* PROJECT */

.project-link{
  font-size: 60px;  
  text-decoration: none;
  color: rgb(251, 231, 184);
  margin-left: 23%;
  margin-top: 30px;
  width: 100%;
}
.project-image{
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 0px 0px 10px 10px;
}
.project-image-main{
  height: 510px;
  object-fit: cover;
}
.project-image-box{
  display: flex;
  height: 520px;
  padding-top:5px;
  width: 100%;
  overflow-x: auto; 
}
.other-image-box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.project-image:hover,.project-image-main:hover{
  transform: scale(1.02);
}
.project-image:active{
  transform: scale(3);
  object-fit: contain;

}
.project-description{
  width: 60%;
  margin: auto;
}
.project-box{
  margin-bottom: 80px;
}
.is-big{
  position: absolute;
}



/* MEDIA QUERIES */

@media (max-width:590px){
  .about-me{
    flex-direction: column;
    align-items: start;
  }
  .mobilePic{
    display: block;
    margin-left: 40px;
  }
  .sidePic{
    display: none;
  }

  .project-link{
    margin-left:12%;

  }
  .project-image-box{
    /* flex-direction: column; */
  }

}
@media (min-width:800px){
  .header{
    margin: 0px 0px 20px 0px;
    padding: 20px 0px 20px 0px;
  }
  .main-content{  
    width: 55%;
  }
  .cb-logo,.logo-l,.logo-s{
    margin-left: 15%;
  }
  .link-box{
    padding-right: 15%;
  }
  
}
@media (min-width: 480px){
  .link-box{
    flex-direction: row;
    align-items: center;
    padding-right: 3%;
  }
}








