.App {

}
body{
  background-color: #292834;
  color: rgb(252, 238, 193);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 248, 229);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link-box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (min-width: 480px){
  .link-box{
    flex-direction: row;
    align-items: center;
    padding-right: 3%;
  }
}

.active-link {
  font-weight: bold;
  color: rgb(252, 238, 193);
}
.inactive-link{
  color: rgb(162, 146, 108);
}

.cb-logo{
  position: absolute;
  margin-left: 3%;
}
.logo-l{
  animation: App-logo-spin 80s infinite linear;
}
.logo-s{
  animation: App-logo-spin 60s infinite linear;
}

.main-content{
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 75%;
  margin: auto;
}

.bg{
  position: absolute;
  margin-top: 100px;
  background-image: url('./crumple.png');
  background-size: cover;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

.header{
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #1c1c24;;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
  
  
}
.about-me{
  display: flex;
}
.mobilePic{
  display: none;
}

@media (max-width:590px){
  .about-me{
    flex-direction: column;
    align-items: start;
  }
  .mobilePic{
    display: block;
    margin-left: 40px;
  }
  .sidePic{
    display: none;
  }

}

@media (min-width:800px){
  .header{
    margin: 0px 0px 20px 0px;
    padding: 20px 0px 20px 0px;
  }
  .main-content{  
    width: 55%;
  }
  .cb-logo,.logo-l,.logo-s{
    margin-left: 15%;
  }
  .link-box{
    padding-right: 15%;
  }
  
}